{% extends "SkwebIncludeBundle:Include:base_admin.html.twig" %}
                {% block Skweb_content %}
                  {%set id_c=app.request.query.get("id_c")%}
                  {%if(is_granted("ROLE_ADMIN"))%}
                      {{ render(controller("SkwebAdminpageBundle:AdminCrud:menuAdmin",{'id_c':id_c})) }}
                  {%endif%}
                    <div ui-view="mainView" class="page-content page-relative nga-default nga-stagger nga-fade"><div class="">
    <accordion-group binding-field="model.page.page_data.page_title" class=""> <div class="accordion-group accordion-group-default"><div class="accordion-group-heading "><h3 class="accordion-group-title"><font><font>document detail</font></font></h3></div><div class="accordion-group-body ">
        <form name="form" class="form-horizontal ng-valid-required ng-valid-ng-max ng-valid-ng-min" novalidate="">
        <div class="row-fluid">
            <div class="spansm-4">
                <div class="user-info-box">
                    <ul class="user-info-ul">
                        <li><span class="font-upper">Username:</span><span class="pull-right">ilpolloooooo</span></li>
                        <li><span class="font-upper"><font><font>Name: </font></font></span><span class="pull-right"><font><font>ABDEL HAMID</font></font></span></li>
                        <li><span class="font-upper"><font><font>Surname: </font></font></span><span class="pull-right"><font><font>EL OMARI</font></font></span></li>
                        <li><span class="font-upper">Id User:</span><span class="pull-right">9880865</span></li>
                        <li><span class="font-upper"><font><font>User type: </font></font></span><span class="pull-right" translate=""><font><font>User</font></font></span></li>
                        <li><span class="font-upper"><font><font>Category: </font></font></span><span class="pull-right"><font><font>Direct</font></font></span></li>
                        <li><span class="font-upper"><font><font>Affiliate: </font></font></span><span class="pull-right"><font><font>DefaultAffiliate (Main)</font></font></span></li>

                    </ul>
                </div>
            </div>
            <div class="spansm-4">
                <div class="user-info-box">
                    <ul class="user-info-ul">
                        <li>
                            <div class="control-group has-feedback" ng-class="{&apos;has-error&apos; : fieldForm[name].$invalid &amp;&amp; fieldForm[name].$touched}" bind="model.userDocument.document_type" spanlabel="spansm-5" spaninput="spansm-7" name="Tipo documento" init="model.userDocument.document_type" binding-field="model.page.page_data.document_type.data" require="false"><ng-form name="fieldForm" class="ng-valid-required"><label class="spansm-5 control-label"><font><font>document type</font></font><span ng-show="false" class="ng-hide"><font><font> *</font></font></span></label><div class="spansm-7"><select class="input-block-level ng-valid-required" name="Tipo documento" tooltip-enable="true" tooltip-trigger="focus" tooltip-placement="top" tooltip="" tooltip-class="infoTooltipClass"><option value="" class=""></option><option label="Carta Identita&apos;" value="number:1" selected="selected"><font><font>Identity card&apos;</font></font></option><option label="Patente" value="number:2"><font><font>driving license</font></font></option><option label="Passaporto" value="number:3"><font><font>Passport</font></font></option><option label="Tessera Riconosc. Mod.AT" value="number:4"><font><font>Acknowledgm card. </font><font>Mod.AT</font></font></option><option label="Tessera Riconosc. Mod.BT" value="number:5"><font><font>Acknowledgm card. </font><font>Mod.BT</font></font></option></select></div></ng-form></div>
                        </li>
                        <li><span class="font-upper"><font><font>State Document: </font></font></span><span class="pull-right" translate=""><font><font>Not Verified</font></font></span></li>
                        <li><span class="font-upper"><font><font>Posted on: </font></font></span><span class="pull-right"><font><font>13/09/2015 14:14:18</font></font></span></li>
                        <li><span class="font-upper"><font><font>occurred:</font></font></span><span class="pull-right"></span></li>
                        <li>
                            <div style="margin:5px 0">
                                <div class="control-group has-feedback" name="Data scadenza" model="model.userDocument.exp_date" require="true" min="" max="" regexp="" init="01/01/2020" spanlabel="spansm-5" spaninput="spansm-7"><label class="spansm-5 control-label"><font><font>expiration date</font></font></label><div class="spansm-7"><input class="datepicker input-block-level" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="Data scadenza" data-date-format="mm/dd/yyyy"><span class="fa fa-calendar input-block-level-feedback" aria-hidden="true"></span></div></div>
                                <br>
                            </div>
                        </li>
                        <li>
                            <label for="fileInput"><font><font>Upload file</font></font></label>
                            <div class="spansm-12 input-group">
                                <input id="fileInput" class="input-block-level" type="file" base-sixty-four-input="">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="uploadFile(model.userDocument.doc_id)" type="button"><font><font>Submit</font></font></button>
                                </span>
                            </div>
                        </li>
                    </ul>

                    <a class="thumbnail typeLinkThumb" ng-click="openFile(model.userDocument.doc_id)">
                        <i style="font-size:40px;margin-left: 40px;" class="icon-folder-open"></i>
                        <span class=""><font><font>View document</font></font></span>
                    </a>
                </div>
            </div>
            <div class="spansm-4">
                <div class="user-info-box">
                    <ul class="user-info-ul">
                        <li>
                            <div class="control-group has-feedback" name="Data rilascio" model="model.userDocument.released_date" require="true" min="" max="" regexp="" init="01/01/2000" spanlabel="spansm-5" spaninput="spansm-7"><label class="spansm-5 control-label"><font><font>Release date</font></font></label><div class="spansm-7"><input class="datepicker input-block-level" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="Data rilascio" data-date-format="mm/dd/yyyy"><span class="fa fa-calendar input-block-level-feedback" aria-hidden="true"></span></div></div>
                        </li>
                        <li>
                            <div class="control-group has-feedback" ng-class="{&apos;has-error&apos; : fieldForm[name].$invalid &amp;&amp; fieldForm[name].$touched}" model="model.userDocument.released_place" init="Roma" require="true" min="0" name="Luogo rilascio" max="" spanlabel="spansm-5" spaninput="spansm-7"><ng-form name="fieldForm" class="ng-valid-ng-max ng-valid-ng-min ng-valid-required"><label class="spansm-5 control-label"><font><font>Location release </font></font><span ng-show="true" class=""><font><font>*</font></font></span></label><div class="spansm-7"><input type="text" autocomplete="off" name="Luogo rilascio" tooltip-enable="true" tooltip-trigger="focus" tooltip-placement="top" tooltip="" tooltip-class="infoTooltipClass" pattern="" class="input-block-level ng-valid-ng-max ng-valid-ng-min ng-valid-required" placeholder="Luogo rilascio" required="required"></div></ng-form></div>
                        </li>
                        <li>
                            <div class="control-group has-feedback" ng-class="{&apos;has-error&apos; : fieldForm[name].$invalid &amp;&amp; fieldForm[name].$touched}" bind="model.userDocument.issued_by" spanlabel="spansm-5" spaninput="spansm-7" name="Emesso da" init="model.userDocument.issued_by" binding-field="model.page.page_data.document_type.data[model.userDocument.document_type].issuer" require="true"><ng-form name="fieldForm" class="ng-valid-required"><label class="spansm-5 control-label"><font><font>Issued by </font></font><span ng-show="true" class=""><font><font>*</font></font></span></label><div class="spansm-7"><select class="input-block-level ng-valid-required" name="Emesso da" tooltip-enable="true" tooltip-trigger="focus" tooltip-placement="top" tooltip="" tooltip-class="infoTooltipClass" required="required"><option value="" class=""></option><option label="Comune" value="number:1" selected="selected"><font><font>common</font></font></option><option label="Altro emittente" value="number:6"><font><font>other issuer</font></font></option></select></div></ng-form></div>
                        </li>
                        <li>
                            <div class="control-group has-feedback" ng-class="{&apos;has-error&apos; : fieldForm[name].$invalid &amp;&amp; fieldForm[name].$touched}" model="model.userDocument.document_number" init="xxxxx" require="true" min="0" name="Numero documento" max="" spanlabel="spansm-12" spaninput="spansm-12"><ng-form name="fieldForm" class="ng-valid-ng-max ng-valid-ng-min ng-valid-required"><label class="spansm-12 control-label"><font><font>Document Number </font></font><span ng-show="true" class=""><font><font>*</font></font></span></label><div class="spansm-12"><input type="text" autocomplete="off" name="Numero documento" tooltip-enable="true" tooltip-trigger="focus" tooltip-placement="top" tooltip="" tooltip-class="infoTooltipClass" pattern="" class="input-block-level ng-valid-ng-max ng-valid-ng-min ng-valid-required" placeholder="Numero documento" required="required"></div></ng-form></div>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-ok-circled"></i>
                        <span><font><font>Refresh document</font></font></span>
                    </button><br>
                </div>

                <div>
                    <a class="thumbnail typeLinkThumb" ng-click="saveDocumentStatus(2)">
                        <i style="font-size:40px;margin-left: 40px;" class="text-green icon-ok-circled"></i><span class=""><font><font>document validation</font></font></span>
                    </a>
                </div>
                <div>
                    <a class="thumbnail typeLinkThumb" ng-click="saveDocumentStatus(3)">
                        <i style="font-size:40px;margin-left: 40px;" class="text-red icon-cancel-circled"></i><span class=""><font><font>Reject document</font></font></span>
                    </a>
                </div>
            </div>
        </div>
        </form>
    </div></div></accordion-group>

    <accordion-group binding-field="model.page.page_data.other_doc.title" class=""> <div class="accordion-group accordion-group-default"><div class="accordion-group-heading "><h3 class="accordion-group-title"><font><font>Other documents</font></font></h3></div><div class="accordion-group-body ">
        <div ng-include="&apos;src/backend/userManagement/docsManagement/documentDetail/sub/result.html&apos;" class=""><div class="table-responsive">
    <div class="row-fluid">
        <div class="span12">
            <div class="pull-left">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><img src="css/img/icons/printIcon.png"></button>
                    <button type="button" class="btn btn-default"><img src="css/img/icons/xlsIcon.png"></button>
                    <button type="button" class="btn btn-default"><img src="css/img/icons/pdfIcon.png"></button>
                </div>
            </div>
        </div>
    </div>
    <table ng-table="tableParams" class="table table-striped table-bordered table-hover ng-table"><thead ng-include="templates.header" class=""><tr class=""> <th class="header"> <div class=""><font><font>Id User</font></font></div>  </th><th class="header"> <div class=""><font><font>document type</font></font></div>  </th><th class="header"> <div class=""><font><font>Document State</font></font></div>  </th><th class="header"> <div class=""><font><font>Posted on</font></font></div>  </th><th class="header"> <div class=""><font><font>checked</font></font></div>  </th><th class="header"> <div class=""><font><font>Operator</font></font></div>  </th><th class="header"> <div class=""> </div>  </th> </tr> <tr ng-show="show_filter" class="ng-table-filters ng-hide"> <th class="filter">  </th><th class="filter">  </th><th class="filter">  </th><th class="filter">  </th><th class="filter">  </th><th class="filter">  </th><th class="filter">  </th> </tr> </thead>
        <tbody>
        <tr class="active">
            <td data-title="model.page.page_data.id_user.title" data-title-text=" " class=""><font><font>9880865</font></font></td>
            <td data-title="model.page.page_data.document_type.title" data-title-text=" " class=""><font><font>1</font></font></td>
            <td data-title="model.page.page_data.status.title" data-title-text=" "><span translate="" class="">Not Verified</span></td>
            <td data-title="model.page.page_data.sent.title" data-title-text=" " class=""><font><font>13.09.2015 14:14:18</font></font></td>
            <td data-title="model.page.page_data.verified.title" data-title-text=" " class=""></td>
            <td data-title="model.page.page_data.operator.title" data-title-text=" " class=""></td>
            <td style="text-align: right" data-title-text=" ">
                <a class="link-ico" href="javascript:void(0)" ng-click="getDocument(row-fluid.doc_id)">
                    <i class="icon-eye"></i>
                </a>
                <a class="link-ico" href="javascript:void(0)" ng-click="openFile(row-fluid.doc_id)">
                    <i ng-class="{&apos;icon-floppy&apos;: !model.downloading[row-fluid.doc_id],&apos;load-small&apos;: model.downloading[row-fluid.doc_id]}" class="icon-floppy"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table><div ng-table-pagination="params" template-url="templates.pagination" class=""><div ng-include="templateUrl" class=""><div class="ng-table-pager"> <div class="ng-table-counts btn-group pull-right"> <button type="button" class="btn btn-default active"> <span ng-bind="count" class=""><font><font>10</font></font></span> </button><button type="button" class="btn btn-default"> <span ng-bind="count" class=""><font><font>25</font></font></span> </button><button type="button" class="btn btn-default"> <span ng-bind="count" class=""><font><font>50</font></font></span> </button><button type="button" class="btn btn-default"> <span ng-bind="count" class=""><font><font>100</font></font></span> </button> </div> <ul class="pagination ng-table-pagination">  </ul> </div> </div></div>
</div></div>
    </div></div></accordion-group>
</div></div>
                {% endblock Skweb_content %}