
<p><span style="color: #FF0000"><strong>SETTINGS</strong></span><br><strong>SKIN MANAGEMENT</strong><br>· Skin List<br>
· Add skin<br><strong>OPERATOR MANAGEMENT</strong><br>· View Operators<br>· Create Operator<br>· 
Operators Roles <br><strong>PRODUCTS MANAGEMENT </strong> <br>· Games<br>
<strong>GATEWAY MANAGEMENT</strong><br>· 
Status Gateway<br>· Parameters<br><strong>DOCUMENT MANAGEMENT</strong><br>· Docs Type <br>· 
Settings<br><strong>CONFIGURATION</strong><br>· Settings<br>· Language<br>· Email Template<br>· 
Setup Smtp<br><span style="color: #FF0000"><strong>SMART ACCOUNT</strong></span><br>· Search Users<br>User Menu<br>o Change Profile<br>
o Change Password<br>o Operations<br>o Transactions<br>o Products Transfers<br>o 
Affiliates Transfers<br>o Product Status <br>o Limits Games<br>o Status Gateway<br>
o Commissions<br>o Sports Tickets<br>o Tickets Live<br>o Bonus<br>o Documents<br>
o Sessions<br>&nbsp;<br>· Deposits list<br>· Withdraw list<br>· List Balance<br>
<span style="color: #FF0000"><strong>DOCUMENT MANAGEMENT</strong></span><br>· Research Documents<br>· Category Documents<br>· Request 
Closed Account<br><span style="color: #FF0000"><strong>SMARTBET</strong></span><br>· Tickets in Acceptance<br>· Sports Tickets<br>· 
Tickets Live<br>· Statistics<br>· Print Odds<br>· Management Odds<br>· Risk 
Management<br>· Management Results<br>· Wins Management<br>· Settings Sports<br>
· Settings Live<br>· Copy Results<br>· Engine Result Betradar<br>· Engine Report<br>
<span style="color: #FF0000"><strong>SMART SHOP</strong></span><br>· Add Partner<br>· User Generator <br>· Commissions Management<br>
· Paid Commissions <br>· Report Games<br>· Sport Report<br>· Sport Live Report<br>
<span style="color: #FF0000"><strong>SMART BI</strong></span><br>· User Trends<br>· Trading Report<br>· Product Report<br>· Financial 
report<br>· Financial report Settings<br>· Report Balance<br>
<span style="color: #FF0000"><strong>SMART LIVECHAT</strong></span><br>
Notification<br><span style="color: #FF0000"><strong>SMART CMS</strong></span><br>
<strong>Management Widgets</strong><br>· Widgets List<br>· Add 
Widgets<br>· Widgets Categories<br><strong>Management promo</strong><br>· Promo List <br>· Add 
promo<br>· Promo Categories <br><strong>Management Articles</strong><br>· Articles List<br>· Add 
Articles<br>· Articles Categories<br><span style="color: #FF0000"><strong>SMART ADV</strong></span><br>&nbsp;<br><br></p>
